.bg-about {
    background-position: 0 96%;
    background-size: 1000px 340px;
    background-repeat: no-repeat;

    @media (min-width: 992px) {
        background-size: contain;
        background-position: 0 60%;
    }
}

.about_content {
    & + &--main {
        font-family: 'Poppins', sans-serif;
        text-transform: uppercase;
        line-height: 1.2em;
        font-weight: bold;
        font-size: 42px;
        margin: 110px 0;

        & strong {
            color: #e8e8e8;
        }
    }

    p {
        font-size: 16px;
    }
}

.tag_list > li {
    border: none;
    font-size: 13px;
    color: #efd7ff;
    padding: 3px 11px;
    transition: all .3s ease;
    -moz-transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    background: rgb(153,32,229);
    background: -moz-linear-gradient(-45deg, rgba(153,32,229,1) 0%, rgba(93,38,201,1) 100%);
    background: -webkit-linear-gradient(-45deg, rgba(153,32,229,1) 0%,rgba(93,38,201,1) 100%);
    background: linear-gradient(135deg, rgba(153,32,229,1) 0%,rgba(93,38,201,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9920e5', endColorstr='#5d26c9',GradientType=1 );

    &.relevant {
        font-weight: bold;
        border: solid 1px #fff;
    }

    &:hover {
        color: #f4e3ff;
        cursor: default;
        background-color: rgb(153,32,229);
    }

    /*
    &:hover {
        color: #ddd;
        cursor: default;
        border: solid 1px #4faaaf;
        background: rgb(35,151,156);
        background: -moz-linear-gradient(-45deg, rgba(35,151,156,1) 0%, rgba(24,111,137,1) 100%);
        background: -webkit-linear-gradient(-45deg, rgba(35,151,156,1) 0%,rgba(24,111,137,1) 100%);
        background: linear-gradient(135deg, rgba(35,151,156,1) 0%,rgba(24,111,137,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#23979c', endColorstr='#186f89',GradientType=1 );
    } */
}