body {
    background-color: #262626;
    color: #929292;
}

.home_text_block,
.home_wrapper_info,
.header-slider-bg-left {
    pointer-events: none;
}

.header-slider-bg-left {
    background-image: url('/images/head-slider-bg-left.png');
    background-position: -75px top;
    background-size: 914px 600px;
    background-repeat: no-repeat;
    position: absolute;
    height: 789px;
    width: 914px;
    opacity: .85;
    z-index: 1;
}

#sticky_header {
    border-bottom: solid 3px #844bbe;
    background-color: #262626;
    background-color: rgba(38, 38, 38, .95);

    .dot_effect {
        background-color: #b161ff;
    }

    .site_navigation {
        .navigation_area {
            & > .mainmenu_area {
                .mainmenu {
                    & > li {
                        & > a {
                            color: #dadada;

                            &.active {
                                color: #fff;
                            }
                        }
                    }
                }
            }
        }
    }
}

.header_social_share {
    & > {
        li {
            & > a {
                pointer-events: auto;
            }
        }
    }
}

.me-img-outer {
    background-color: #23979c;
    @include border-radius(50%);
    padding: 7px;
    margin: -110px auto 22px auto;
    position: relative;
    width: 150px;
    height: 150px;
    z-index: 5;
}

.me-img {
    @include border-radius(50%);
    /* -webkit-filter: grayscale(100%);
    filter: grayscale(100%); */
    margin-bottom: 22px;
    position: relative;
    height: 136px;
    width: 136px;
    z-index: 5;
}

.welcome_area {
    &::before {
        background-color: #262626;
        // display: none;
    }

    &::after {
        background-color: #262626;
        // display: none;
    }
}

@media (max-width: 991px) {
    .header-slider-bg-left {
        background-image: none;
    }

    .site_navigation {
        box-shadow: 0 0 10px black;
        background-color: #262626;
        background-color: rgba(38, 38, 38, .85);
    }

    .navbar-toggler {
        border: solid 1px #fff;

        & > span {
            background-color: #fff;

            &:before,
            &:after {
                background-color: #fff;
            }
        }
    }

    .navbar-toggler-icon {
        margin-top: -3px;
    }

    .site_navigation .navbar-collapse.mainmenu_area.collapse.show {
        border-top: none;
        margin-top: 0;
    }

    .navigation_area > .mainmenu_area .mainmenu {
        padding: 20px 20px 10px;
        padding-bottom: 0;
    }

    .navigation_area > .mainmenu_area .mainmenu > li > a {
        color: #fff;
        padding-left: 10px !important;

        &:before {
            content: ' ';
            background-color: transparent;
            background-color: #1EBBA3;
            border-radius: 50px;
            line-height: 5px;
            display: inline-block;
            height: 5px;
            margin: 8px 0 0 -10px;
            position: absolute;
            width: 5px;
        }

        &:hover {
            &:before {
                width: 5px;
            }
        }
    }
}

@media only screen and (max-width: 991px) {
    .navbar-toggler[aria-expanded="true"] > span {
        background-color: transparent;
    }

    .navigation_area > .mainmenu_area .mainmenu {
        padding: 20px 0 10px;
        padding-bottom: 0;

        .nav-item {
            a {
                text-align: center;
                text-transform: uppercase;
            }
        }

        li {
            a::before {
                display: none;
            }
        }
    }
}