.giub-popup {
  position: relative;
  background: #FFF;
  padding: 20px;
  width: auto;
  max-width: 90%;
  margin: 20px auto;
}

.recent_work_nav {
  & > li {
    & > a {
      color: #eee;
      font-weight: normal;
    }
  }
}

@media (min-width: 992px) {
  .work-bg-left {
    background-image: url(/images/bg-green-work-bottom-left.png);
    background-position: left bottom;
    background-repeat: no-repeat;
  }
  
  .work-bg-right {
    background-image: url(/images/bg-color-work-top-right.png);
    background-position: right top;
    background-repeat: no-repeat;
  }
}